<title>Forgot Password</title>

<!-- Developed by Group 6:
    Kenji Mark Alan Arceo
    Carl Norbi Felonia
    Ryonan Owen Ferrer
    Dino Alfred Timbol
    Mike Emil Vocal  -->
 

<div class="min-h-screen flex bg-white">

    <div class="fixed lg:hidden top-0 left-0 w-full bg-[#1f1f1f] pt-4 text-white">
        <div class="flex flex-col items-center text-center">
            <img src="assets/logo.png" alt="PawPortal Logo" class="w-25 mb-6">
        </div>
    </div>

    <div class="hidden lg:flex relative bg-[url('/assets/main.jpg')] w-1/2 min-h-[100vh] flex-col justify-around items-center bg-no-repeat bg-center bg-cover before:absolute before:inset-0 before:bg-black/60 text-white px-6 md:px-10 py-10 md:py-0 gap-8">
        <div class=" flex flex-col text-center items-center z-10">
            <img src="assets/logo.png" alt="PawPortal Logo" class="w-80">
            <p class="italic text-5xl text-gray-300">Reset Password</p>
        </div>
    </div>

    <div class="flex w-full lg:w-1/2 justify-center items-center bg-white mt-20 lg:mt-0">

        <div class="w-full max-w-lg px-8">

            <h1 class="text-2xl font-semibold text-gray-800 mb-6 text-center">
                Reset Password
            </h1>

            <!-- Forgot password form -->
            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()"
            novalidate class="space-y-5">

                <div>
                    <label for="email" class="block text-sem font-medium text-gray-600 mb-1">Email</label>
                    
                    <input 
            
                        id="email"
                        formControlName="email"
                        class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none"
                        placeholder="Enter your email"
                    />

                    @if (submitted && f['email'].errors) {
                        <div class="text-red-500 text-sm mt-1 font-semibold">
                            @if (f['email'].errors['required']) {
                                <span>Email is required.</span>
                            }
                            @if (f['email'].errors['minlength']) {
                                <span>Email must be at least six characters </span>
                            }
                        </div>
                    }
                </div>


                <div class="relative">
                    <label for="newPassword" class="block text-sem font-medium text-gray-600 mb-1">New Password</label>
                    
                    <input 
                        [type]="showPassword2 ? 'text' : 'password'"
                        type="password" 
                        id="newPassword"
                        formControlName="newPassword"
                        class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none"
                        placeholder="Confirm your new password"
                    />

                    <button
                        type="button"
                        (click)="togglePassword2()"
                        class="absolute right-3 mt-4  top-1/2 -translate-y-1/2 text-gray-500 hover:text-gray-700"
                        >
                        <i class="fa-solid" [ngClass]="showPassword2 ? 'fa-eye-slash' : 'fa-eye'"></i>
                    </button>


                    @if (submitted && f['newPassword'].errors) {
                        <div class="text-red-500 text-sm mt-1 font-semibold">
                            @if (f['newPassword'].errors['required']) {
                                <span>New Password is required.</span>
                            }
                            @if (f['newPassword'].errors['minlength']) {
                                <span>New Password must be at least six characters </span>
                            }
                        </div>
                    }
                </div>


                @if(errorMessage) {
                    <div class="text-red-500 text-center text-sm">
                        {{ errorMessage }}
                    </div>
                }

                @if(successMessage) {
                    <div class="text-green-600 text-center text-sm">
                        {{ successMessage }}
                    </div>
                }

                <button
                    (keydown.enter)="onSubmit()"
                    type="submit"
                    [disabled]="resetForm.invalid"
                    class="cursor-pointer w-full py-3 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition-all disabled:cursor-not-allowed font-semibold"
                >
                    Reset Password
                </button>

            </form>
            
        </div>
    </div>
</div>